//style3.scss

div{
  height: 50px; margin-bottom:10px;
  background:pink;
}

// for(초기값; 조건문; 증감식){}

//5번째가지 모두 서식 적용
// @for $i from 1 through 5{ //1부터 5까지
//   div:nth-of-type(#{$i}){//일반 형태구조 선택자  각각의 div태그에 서식적용
//   width:50px*$i //50씩증가
//   }
// }

// 5번재 전가지만 서식이 적용
@for $i from 1 to 5{ //to는 1부터 5전까지만 해당됨  종료전가지
  div:nth-of-type(#{$i}){//일반 형태구조 선택자  각각의 div태그에 서식적용
  width:50px*$i //50씩증가
  }
}


//Lists
$color:#ff0 #0f0 #00f;
article{
  h2:nth-child(1){
    color:nth($color,1)
  }
  h2:nth-child(2){
    color:nth($color,2)
  }
  h2:nth-child(3){
    color:nth($color,3)
  }
}


//Maps
$fontSize:("small":12px, "medium":18px, "large":24px);
section{
  h2:nth-child(1){font-size:map-get($fontSize,'small');}
  h2:nth-child(2){font-size:map-get($fontSize,'medium');}
  h2:nth-child(3){font-size:map-get($fontSize,'large');}
}


//while
$i:1;//초기값
.list01 > li{
  background-color: orange;
  margin-bottom: 10px;

  @while $i <= 3{ //3번 반복한다.
    &:nth-child(#{$i}){ 
      width:100px * $i;//100,200,300
    }
    $i : $i+1; //증감식

  }
}