// style2.scss

@mixin box{
  height: 50px;
  border:3px solid #000;
  margin-bottom: 20px;
}
div{@include box}

$width1:400px;
$width2:700px;

.box01{
  width:$width1;
  background-color: if($width1>500,pink,lightblue);
}
.box02{
  width: $width2;
  background-color: if($width2>500,pink,lightblue);

}

//@if문, @else if, @else문 
$width3:768px; //태블릿 작은사이즈
$width4:1025px; //pc최소크기

.box03{
  width:$width3;
  @if($width3 >= 767){
    background: rgb(242, 78, 78);
  }@else{
    background: lightblue;
  }
}

.box04{
  width:$width4;
  @if($width4>=1025){
    background: #ff0;
  }@else{
    background: #ccc;
  }
}

