//style2.scss

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
$bg_color:#ff0;
$bg_colo2:#0f0;
$txt_color01:#f00;
$txt_color02:#00f;

@mixin h3txt{
  font-family: "Noto Sans KR","맑은 고딕",Arial, sans-serif;
  font-size: 30px;
}
.title01{
  @include h3txt;
  background-color: $bg_color;
  color:$txt_color01;
}
.title02{
  @include h3txt;
  background-color: $bg_color;
  color: $txt_color02;
}
//글자 생략기호 나오게하는 서식
@mixin txt_over{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.p01{
  @include txt_over;
  width: 500px;
  border: solid 1px #000;
  background-color: $bg_color;
}

// 글자,모양, 배경에 관련된 서식인지 구분하면 관리하기 편함
// 버튼 글자서식
@mixin btnFont{
  font-family: "궁서체";
  font-weight: bold;
  font-size: 20px;
}
// 버튼 모양서식
@mixin btnArea{
  border: 1px solid #ccc;
  padding:5px 30px;
  border-radius: 30px;
}
@mixin btn{
  @include btnFont;
  @include btnArea;

}
.btn01{
  @include btn;
  background-color: $bg_color;
}
.btn02{
  @include btn;
  background-color: $bg_colo2;
}

$time:0.5s;
// 버튼에 마우스 오버시 적용할 믹스인 함수
@mixin btn_hover{
  background-color: #000;
  color: #fff;
  transition: $time;
}
.btn01:hover, .btn02:hover{
  @include btn_hover;
}




@mixin bar_toggle{
  width:50px;
  height:50px;
  border: #ccc solid 1px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: $time;
}
@mixin menu_bar{
  display: block;
  height: 3px;
  width: 35px;
  background-color: #000;
  position: absolute;
  left: 8px;top: 0px;
  transition: $time;
}

#toggle{
  @include bar_toggle;
}
#toggle span{
  @include menu_bar;
  margin-top: 10px;
}
.bar2{top:15px;}
#toggle_bar:checked + #toggle  > span:first-child{
  transform: rotate(45deg);
}
#toggle_bar:checked + #toggle> span:nth-child(2){
  display:none;
}
#toggle_bar:checked + #toggle> span:last-child{
  transform: rotate(-45deg);
}


// 4.mixin 함수에 매개변수 삽입하기
@mixin divBox($bg_color){
  @include btnFont;
  background-color: $bg_color;
}
#box01{
  @include divBox(#8c8cc3);
}
#box02{
  @include divBox(#494986);
}

// 테이블 테두리 서식
@mixin border($w:1px,$s:solid, $c:#f00)
{
  width:300px;
  border:$w $s $c;
}
//테이블 서식 적용시 필요한 매개벼수를 변경하여 넣을 수 있다.
// 선두께나 모양도 변할 수 있다.
.border{@include border(5px, double);}

//테이블 배경과 크기 서식
@mixin table($t_bg:#f0f0f0){
  background: $t_bg;
  width: 500px;
}

@mixin caption($bg:#ff0){
  background-color: $bg;
  padding:10px 0px;
  font-weight: bold;
}
table{
  border-collapse: collapse;
  @include table;
}
table caption{@include caption;}
table tr td{
  line-height: 210%;
  text-align: right;
  padding-right: 20px;
}

@mixin odd_tr($bg:#fddc7a){
  background: $bg;
}
table tbody tr:nth-child(2n+1){
  @include odd_tr;
}